.menu
	width: 50em
	height: 3em
	position: fixed
	backgroud-color: white
	box-shadow: -50px 2px 30px 0px rgba(0,0,0,0.6)
	li
		margin-top: -1.5em
		list-style: none
		ul
			display: inline-block
			color: green
			font-size: 30px
		ul:nth-child(1)
			font-weight: 500
