@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500|Raleway:700,800')

//Project colors
//$bgc: #f5f5f5
$bgc: white
$primaryColor: #3e6845
$meme: rgba(62, 104, 69, 0.5)
$secondColor: #1f6b8e
$blue: #2385b2
$blueLight: #52c0f2//Vil ha en lys blåfarge som passer til den mørke og som passer mot bakgrunnsfargen
$facebook: #3b5998
$twitter: #00aced
$instagram: #bc2a8d

//blue rgb rgb(35, 133, 178)

//fonts
$raleway: 'Raleway', sans-serif
$raleway-bold: 700
$ralewaybold: 800
$opensans: 'Open Sans', sans-serif
$osreg: 400
$osbold: 700

//alert
$alert: #E57373


	