@import "sassImports/_vars"
@import "sassImports/_main"
@import "sassImports/_header"
@import "sassImports/_menu"
@import "sassImports/_footer"

body
	color: $primaryColor

.menu2
	font-weight: $osbold

.content
	position: relative
	a
		text-decoration: none

.backArrow
	color: $blue
	font-weight: 500
	padding-bottom: 1em

.backArrow:hover
	color: $secondColor

.headImgWrap
	width: 100%
	height: auto
	img
		width: 100%
.headImgTitleWrap
	background-color: rgba(230, 230, 230, 0.5)
	color: black
	margin: 0 3%
	position: relative
	bottom: 15em
	margin-bottom: -15em
	z-index: 50
	width: 94%
	.headImgPlace
		font-size: 2em
		padding-top: 1.3em
		text-align: center
	.headImgTitle
		font-family: $raleway
		font-weight: $ralewaybold
		font-size: 5em
		padding-top: 0.2em
		padding-bottom: 0.5em
		text-align: center
	
	.headTextQuote
		
		font-weight: $osbold
		text-align: left
		font-size: 1.3em
		padding: 6% 4% 4% 4%
	
	.headText
		
		font-weight: $osreg
		text-align: left
		font-size: 1.3em
		padding: 0 4% 8% 4%




//slider stuf
.sliderWrap
	width: 100%
	height: auto
	position: relative
	margin-top: 2%
//background-color: blue

.regular
	width: 100%

.slider
	width: 100%

//dette gjør at vi får vite kanter rundt slideren, basicly indents på siden, skal vi ha det?
.slick-slide
	margin: 0 1.8em

.slick-slide img
	width: 100%

.prev, .next
	display: inline-block
	width: 15%
	height: auto
	top: 45%
	position: absolute
	z-index: 30
	text-align: center
	svg
		height: auto
		width: 8em
		fill: rgba(255, 255, 255, 0.8)

.prev:hover, .next:hover
	cursor: pointer
	svg
		fill: $blue
.prev
	left: 2%
	padding-left: 5px

.slide
	position: relative

.next
	right: 2%
	margin-left: 34%



//TOMTEMAP
	
.tomtMapTitle
	width: 94%
	margin: 0 3%
	text-align: right
	color: black
	font-family: $raleway
	font-weight: $ralewaybold
	font-size: 4em
	margin-top: 1.4em

.tomtMapInfo1, .tomtMapInfo2
	//background-color: red
	width: 46%
	display: inline-block

.tomtMapInfo1
	margin-left: 3%


.tomtMapInfo2
	margin-right: 3%
	text-align: right
	font-size: 2em
	color: black

.ledigColor, .ledigText, .solgtColor, .solgtText
	display: inline-block

.ledigColor, .solgtColor
	width: 2em
	height: 2em

.ledigColor
	background-color: lightgray
	border: 2px solid $blue

.solgtColor
	background-color: $blue

.ledigText, .solgtText
	position: relative
	bottom: .4em
	color: black
	font-size: 1.4em
	margin-right: 0.5em

.tomtMapWrap
	width: 94%
	margin: 0 3%
	margin-top: .5em
	img
		width: 100%


//Map and Table

.mapTableWrap
	width: 94%
	
	margin: 0 3%
	margin-top: 1.5em
	
	//MAP
	.mapWrap
		width: 57.5%
		display: inline-block
		
		#googleMap
			width: 100%
			height: 37em
	
	//TABLE
	.tableWrap
		width: 40%
		//height: 30em
		//background-color: red
		display: inline-block
		float: right
		table, tr, td
			border: 1px solid black
			color: black
		table
			border-collapse: collapse
			width: 100%
		table tr:nth-child(odd) td
			background-color: rgba(220, 220, 220, 0.2)
			
		td
			text-align: center
			font-weight: $osreg
			padding: .7em 0
		.col1, .col2, .col3
			font-weight: $osbold
			
		.col1
			width: 20%
		.col2
			width: 45%
		.col3
			width: 35%
		.prevTable, .nextTable
			width: 48%
			margin-top: .8em
			display: inline-block
			text-align: center
			background-color: $blue
			color: $bgc
			padding: 1em 0
			border-radius: .1em
		.nextTable
			float: right
		
.fileContactWrap
	width: 94%
	margin: 0 3%
	margin-top: 3.5em
	color: black
	
	.contactWrap
		width: 40%
		display: inline-block
		text-decoration: none
		a
			color: black
		//background-color: lightgray
		
		.contactTitle
			font-size: 1.1em
		.contactName
			font-size: 1.5em
			padding-top: .1em
			font-weight: $osbold
		.contactEmail, .contactPhone
			font-size: 1.2em
			display: inline-block
		svg
			fill: $blue
			position: relative
			top: .4em
	.fileWrap
		width: 57.5%
		
		float: right
		
		//background-color: lightgray
		.fileTitle1, .fileTitle2
			margin-left: 1%
			font-size: 1.5em
		.fileTitle2
			margin-top: 1em
		.btn1, .btn2, .btn3
			display: inline-block
			background-color: $blue
			padding: .7em
			text-align: center
			color: $bgc
			border-radius: .1em
		.btn1
			margin-left: 1%
		.btn2
			margin: 0 2%
		
.socialWrap
	width: 94%
	margin: 0 3%
	
	margin-bottom: -2em
	margin-top: 10em
	text-align: center
	.icon1, .icon2, .icon3
		padding: .5em
		
		display: inline-block
	.icon1:hover, .icon2:hover, .icon3:hover
		cursor: pointer
	svg
		width: 58px
		height: 58px
.icon1
	svg
		fill: $facebook
.icon2
	svg
		fill: $twitter
.icon3
	svg
		fill: $instagram