@import "sassImports/_vars"
@import "sassImports/_main"
@import "sassImports/_header"
@import "sassImports/_menu"
@import "sassImports/_footer"

body
	color: $primaryColor

.menu2
	font-weight: $osbold

.content
	position: relative
	a
		text-decoration: none

.backArrow
	color: $blue
	font-weight: 500
	padding-bottom: 1em

.backArrow:hover
	color: $secondColor

.headImgWrap
	width: 100%
	max-height: 28em
	overflow: hidden
	img
		width: 100%
.headImgTitleWrap
	background-color: rgba(230, 230, 230, 0.5)
	color: black
	margin: 0 3%
	position: relative
	bottom: 15em
	margin-bottom: -15em
	z-index: 50
	width: 94%
	.headImgPlace
		font-size: 2em
		padding-top: 1.3em
		text-align: center
	.headImgTitle
		font-family: $raleway
		font-weight: $ralewaybold
		font-size: 5em
		padding-top: 0.2em
		padding-bottom: 0.5em
		text-align: center
	
	.headTextQuote
		
		font-weight: $osbold
		text-align: left
		font-size: 1.3em
		padding: 6% 4% 4% 4%
	
	.headText
		
		font-weight: $osreg
		text-align: left
		font-size: 1.3em
		padding: 0 4% 8% 4%




//slider stuf
.sliderWrap
	width: 100%
	height: auto
	position: relative
	margin-top: 2%
//background-color: blue

.regular
	width: 100%

.slider
	width: 100%

//dette gjør at vi får vite kanter rundt slideren, basicly indents på siden, skal vi ha det?
.slick-slide
	margin: 0 1.8em

.slick-slide img
	width: 100%

.prev, .next
	display: inline-flex
	width: 15%
	height: 100%
	top: 0
	position: absolute
	z-index: 30
	text-align: center
	
	.verticalCenter
		margin: auto
	svg
		
		height: auto
		width: 8em
		fill: $blueLight
		

.prev:hover, .next:hover
	cursor: pointer
	svg
		fill: $secondColor
.prev
	left: 2%
	padding-left: 5px

.slide
	position: relative

.next
	right: 2%
	margin-left: 34%



//TOMTEMAP
	
.tomtMapTitle
	width: 94%
	margin: 0 3%
	text-align: right
	color: black
	font-family: $raleway
	font-weight: $ralewaybold
	font-size: 4em
	margin-top: 1.4em

.tomtMapInfo1, .tomtMapInfo2
	//background-color: red
	width: 46%
	display: inline-block

.tomtMapInfo1
	margin-left: 3%


.tomtMapInfo2
	margin-right: 3%
	text-align: right
	font-size: 2em
	color: black

.ledigColor, .ledigText, .solgtColor, .solgtText
	display: inline-block

.ledigColor, .solgtColor
	width: 2em
	height: 2em

.ledigColor
	background-color: lightgray
	border: 2px solid $blue

.solgtColor
	background-color: $blue

.ledigText, .solgtText
	position: relative
	bottom: .4em
	color: black
	font-size: 1.4em
	margin-right: 0.5em

.tomtMapWrap
	width: 94%
	margin: 0 3%
	margin-top: .5em
	position: relative
	top: 0
	left: 0
	img
		width: 100%
		
		
//Specific tomt

.tomtMapWrap
	.popupBackground
		width: 100%
		height: 100%
		background-color: rgba(150, 150, 150, 0.5)
		z-index: 50
		position: absolute
		top: 0
		left: 0
		.tomtPopup
			margin: 2% 25%
			background-color: $bgc
			width: 46%
			height: 90%
			z-index: 100
			position: absolute
			top: 0
			left: 0
			border-radius: 3px
			.tomtHead, .tomtAdress, .tomtDetails, .tomtInfoTitle, .tomtInfoText
				color: black
				width: 94%
				margin: 0 3%
			.tomtHead, .tomtAdress
				text-align: center
			.tomtHead
				font-weight: $osbold
				font-size: 2em
				margin-top: 0
			.tomtAdress
				margin-top: -2%
				margin-bottom: 3%
			.tomtInfoTitle
				margin-top: 3%
			.tomtBtn
				display: block
				float: right
				background-color: $blue
				position: absolute
				bottom: 0
				right: 0
				margin: 4%
				padding: 1em
				color: $bgc
				border-radius: 3px
			.esc
				position: absolute
				top: 0
				right: 0
				width: 2em
				margin: 3%
				padding: 0
				
				svg
					width: 100%
					height: 100%
					
//Table

.tableWrap
	width: 94%
	margin: 0 3%
	margin-top: 1.5em
	display: inline-flex

	table, tr, td
		border: 5px solid $bgc
		color: black
	table
		width: 80%
		border-collapse: collapse
	table tr:nth-child(even) td
		background-color: lightgray
		color: black
	td
		text-align: center
		font-weight: $osreg
		padding: .7em 0
		background-color: $blueLight
		color: $bgc
	.col
		font-family: $raleway
		font-weight: $raleway-bold
		background-color: $blue
.arrow
	width: 10%
	margin: auto

	svg
		width: 100%
		height: auto
		fill: $blueLight
		
.fileWrap
	width: 94%
	margin: 0 3%
	margin-top: 5em
	color: black
	text-align: center
	//background-color: green
	.oneFileWrap
		//background-color: red
		width: 20%
		display: inline-block
		font-family: $raleway
		font-weight: $raleway-bold
		font-size: 1em
		color: black
			
		svg
			width: 100%
			height: 7em
			fill: $blue
			margin-bottom: 1em

.ansattWrap
	width: 94%
	height: auto
	margin: 0 3%
	margin-top: 5em
	text-align: center
	background-color: lightgray
	color: black
	padding: 2em 0
	.title
		text-align: center
		width: 100%
		font-family: $raleway
		font-weight: $ralewaybold
		font-size: 2em
		margin-bottom: .5em
		//background-color: green
	.oneAnsattWrap
		//background-color: red
		width: 32%
		
		height: auto
		display: inline-block
		text-align: center
		img
			
			border: 2px solid black
			width: 69%
			margin: 0 15%
		.ansattName
			font-weight: $osbold
		.ansattEmail
			font-size: .8em
	









.socialWrap
	width: 94%
	margin: 0 3%
	
	
	margin-top: 5em
	margin-bottom: 2.5em
	text-align: center
	.icon1, .icon2, .icon3
		padding: .5em
		
		display: inline-block
	.icon1:hover, .icon2:hover, .icon3:hover
		cursor: pointer
	svg
		width: 58px
		height: 58px
.icon1
	svg
		fill: $facebook
.icon2
	svg
		fill: $twitter
.icon3
	svg
		fill: $instagram