@import "sassImports/_vars"
@import "sassImports/_main"
@import "sassImports/_header"
@import "sassImports/_menu"
@import "sassImports/_footer"

body
	color: $primaryColor

.menu2
	font-weight: 700

.content
	position: relative
	a
		text-decoration: none

.backArrow
	color: $blue
	font-weight: 500
	padding-bottom: 1em

.backArrow:hover
	color: $secondColor

.headImgWrap
	width: 100%
	height: auto
	img
		width: 100%
.headImgTitleWrap
	background-color: rgba(230, 230, 230, 0.5)
	color: black
	margin: 0 4%
	position: relative
	bottom: 15em
	margin-bottom: -15em
	z-index: 50
	width: 92%
	.headImgPlace
		font-size: 2em
		padding-top: 1.3em
		text-align: center
	.headImgTitle
		font-family: $raleway
		font-weight: $ralewaybold
		font-size: 5em
		padding-top: 0.2em
		padding-bottom: 0.5em
		text-align: center

	.headTextQuote
		
		font-weight: $osbold
		text-align: left
		padding: 3em 2em 2em 2em
		
	.headText
		
		font-weight: $osreg
		text-align: left
		padding: 0 2em 4em 2em




//.headTextWrap
	background-color: rgba(230, 230, 230, 0.4)
	color: black
	width: 92%
	margin: 0 4%