@import "sassImports/_vars"
@import "sassImports/_main"
@import "sassImports/_menu"
@import "sassImports/_footer"

//.menu
	width: 100%
	height: 3em
	position: fixed
	z-index: 100
	ul
		margin-top: 0
		list-style: none
		li
			display: inline-block
			margin: 0 1% 0 1%

	a
		color: $blue
		font-size: 2em
		text-decoration: none
		
		
	a:hover
		color: $secondColor
	svg
		position: absolute
		top: 0
		//background: red
		width: 5.9%

.menu1
	font-weight: 700

.menuShadow
	background-color: $bgc
	box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.6)


//.frontImg
	width: 100%
	height: 750px
.header
	position: relative
	width: 100%
	margin-bottom: 15%

.banner
	//background: url(../images/landscape.jpg) no-repeat top left
	//background-size: contain
	width: 100%
	//box-sizing: border-box
	//padding-left: 18% //Change this to make it wider
	//padding-right: 18% //Change this to make it wider
	img
		margin-top: -10em
		width: 100%

#headerknapper
	position: absolute
	width: 60%
	top: 25%
	z-index: 3
	box-sizing: border-box
	padding: 2%
	left: 29%
	a
		color: black
		text-decoration: none
		.hButton
			font-weight: $osreg
			font-size: 2em
			display: inline
			
		.b1
			font-decoration: underline
			font-weight: $osbold
	a:nth-child(2)
		margin: 0 7.5% 0 8%

//.hButton
	font-weight: $osbold
	background-color: $blue
	display: inline-block
	width: 100%
	box-sizing: border-box
	padding: 0 40% 0 40%

//.hButton:nth-child(2)
	float: right

.hButton:hover
	color: $blue
.hButton:active
	color: lightblue
		
#logo
	position: absolute
	width: 100%
	text-align: center
	top: 4%
	img
		width: 30%
.hyttepos
	bottom: -10%

.hytte1
	position: absolute
	width: 100%
	text-align: center
	z-index: 4
	bottom: -20%
	img
		width: 40%
.hytte2
	position: absolute
	width: 100%
	box-sizing: border-box
	padding-right: 60%
	padding-left: 16%
	img
		width: 100%
.hytte3
	position: absolute
	width: 100%
	text-align: center
	box-sizing: border-box
	padding-right: 16%
	padding-left: 60%
	img
		width: 100%


//TOMTEFINNERRRRRRR

#tomteFinner
	//background-color: #f6f6f6
	//box-sizing: border-box
	//padding: 2% 15% 6% 15%
	font-size: 1.5em
	width: 100%
	display: none
	h1
		text-align: center
		font-size: 2.4em
		font-family: $raleway
		font-weight: $ralewaybold
.tfImg
	width: 100%
	height: 15em
	margin-top: 1%
	background-color: lightgrey

#startTFbutton
	margin-top: 1%
	width: 100%
	box-sizing: border-box
	padding: 0 43%0 43%

.nextButtonPos
	position: absolute
	z-index: 2
	right: 1%
	bottom: 2%	
	width: 15%
	//box-sizing: border-box
	//padding: 0 43%0 43%

.tfButton
	text-align: center
	box-sizing: border-box
	width: 100%
	padding: 10% 15% 10% 15%
	background-color: $blue
	color: white
	font-family: $raleway
	font-weight: $ralewaybold
	font-size: 1em
.tfButton:hover
	cursor: pointer
	background-color: lightblue

#lastTFbutton.nextButtonPos
	width: 21%

.tfBox
	position: relative
	margin-top: 1%
	width: 100%
	height: 21em
	border: 2px solid $blue
	box-sizing: border-box	
	padding: 1% 1% 5% 1%

.steps
	color: lightgray
	font-weight: $osbold
	//margin: 0.5% 0 0 0.5%

.tfText
	margin-top: 2%
	margin-left: 4%
	font-size: 1.5em
	width: 50%

#tfFrame3
	.tfBox
		.tfText
			width: 100%
#tfFrame4
	.tfBox
		.tfText
			width: 100%
#tfFrame5
	.tfBox
		.tfText
			width: 100%

#tfOmradevalg
	width: 30%
	ul
		list-style: none
		li
			background-color: lightgray
			font-size: 0.8em
			margin: 2%
			padding: 2%
			color: gray
			//display: inline
			span
				margin-left: 5%
				div
					font-size: 0.7em
					display: inline
		.liKlikk
			background-color: $blue
			color: white
		li:hover
			background-color: $blue
			color: lightblue
			cursor: pointer

			

#tfOmradeKart
	width: 50%
	//float: right
	background: lightgray
	position: absolute
	top: 3%
	right: 1%
	height: 19.4em

#tfIconValg
	margin: 2% 0 0 4%
	width: 100%
	//background: grey

#prisValg
	margin-top: 7%
	box-sizing: border-box
	padding-left: 20%
	padding-right: 20%
	div
		font-size: 1.5em
		color: $blue
		display: inline
		select
			border: 1px solid $blue
			display: inline
			option
				color: $blue

.dropdown
	-webkit-appearance: button
	-webkit-border-radius: 2px
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
	-webkit-padding-end: 20px
	-webkit-padding-start: 2px
	-webkit-user-select: none
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA,	#F4F4F4 40%, #E5E5E5)
	background-position: 97% center
	background-repeat: no-repeat
	border: 1px solid #AAA
	color: #555
	font-size: inherit
	margin: 4%
	overflow: hidden
	padding: 2% 4%
	text-overflow: ellipsis
	white-space: nowrap
	width: 40%
	margin-left: 1em
	cursor: pointer

#resultatTF
	//background-color: gray
	//height: 40em
	box-sizing: border-box
	padding: 0 30% 0 10%
	width: 100%
	div
		margin-left: 4%
	ol
		//list-style: none
		li
			color: $blue
			text-decoration: underline
			font-family: $raleway
			font-weight: $raleway-bold
			font-size: 1.3em
			padding: 1%
		div
			text-decoration: none
			color: black
			display: inline
			float: right
			font-size: 0.8em
			margin-top: 0.2em

.spanBlue
	color: $blue
	font-weight: $osbold
.spanRed
	color: red

//SPØRSMÅL BOX

#sporsmalBox
	//background-color: rgba(0,0,0,0.2)
	font-size: 1.4em
	margin-top: 10%
	h1 
		text-align: center
		font-family: $raleway
		font-weight: $ralewaybold
		font-size: 3em
	
	.sprsmValg
		width: 47%
		height: 27em
		display: inline-block
		margin-top: 4em
		text-decoration: none
		color: black
		.bildeBox
			box-sizing: border-box
			padding-right: 20%
			padding-left: 20%
			text-align: center
		.sprmsValgText
			font-size: 2em
			text-align: center
			font-weight: 500
			width: 100%

.skalVareBilde
	background-color: $blue
	height: 12em
	width: 100%

#sosmBox
	font-size: 1.4em
	margin-top: 5%
	h1 
		text-align: center
		font-family: $raleway
		font-weight: $ralewaybold
		font-size: 3em
	.sosmCont
		width: 49%
		height: 27em
		display: inline-block
		margin-top: 1em
		.bildeBox
			box-sizing: border-box
			padding-right: 5%
			padding-left: 40%
		.bb2
			padding-right: 40%
			padding-left: 5%
.sosmText
	margin-top: -10%
	
//#buttons
	margin-top: 5%
	width: 100%
	box-sizing: border-box
	padding-left: 15%
	padding-right: 15%
	a
		text-decoration: none
		color: black
	//a:hover
		color: $blue


//.button
	font-weight: $osbold
	text-align: center
	border: solid 2px $blue
	border-radius: 10em
	display: inline-block
	width: 45%
	padding: 0.5%

//.button:nth-child(2)
	float: right

//.button:hover
	background-color: $blue
	color: white

//#sokBox
	position: relative
	margin-top: 5%
	background-color: #e5e5e5
	width: 100%
	box-sizing: border-box
	padding: 2%
	h2
	text-align: center
	font-weight: $osbold

//.selectmeny
	width: 100%

//.selectDef
	width: 18%
	display: inline-block
	margin: 1%
	span
		float: left
//.dropdown
	-webkit-appearance: button
	-webkit-border-radius: 2px
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
	-webkit-padding-end: 20px
	-webkit-padding-start: 2px
	-webkit-user-select: none
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5)
	background-position: 97% center
	background-repeat: no-repeat
	border: 1px solid #AAA;
	color: #555
	font-size: inherit
	margin: 4%
	overflow: hidden
	padding: 4% 8%
	text-overflow: ellipsis
	white-space: nowrap
	width: 100%
	margin-left: 0
	cursor: pointer
//.valgMeny
	width: 100%

//.valg
	width: 10%
	display: inline-block

/*.checkBox
	width: 20px
	position: relative
	margin: 5% 0 0 40%
	label
		width: 20px
		height: 20px
		cursor: pointer
		position: absolute
		top: 0
		left: 0
		background: #fcfff4
		background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%)
		border-radius: 4px
		box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5)
		&:after
			content: ''
			width: 9px
			height: 5px
			position: absolute
			top: 4px
			left: 4px
			border: 3px solid #333
			border-top: none
			border-right: none
			background: transparent
			opacity: 0
			transform: rotate(-45deg)

		&:hover::after 
			opacity: 0.5
	input[type=checkbox]
		visibility: hidden
		&:checked  + label:after
			opacity: 1
//denne er en test bare for å prøve å lage runde checkboxer fikk ikke helt til
/*.checkBox2
	width: 50px
	position: relative
	color: white
	margin: 5% 0 0 30%
	label
		width: 50px
		height: 50px
		cursor: pointer
		position: absolute
		top: 0
		left: 0
		background-color: $blue
		background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%)
		border-radius: 100%
		box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5)
		&:after
			content: ''
			width: 9px
			height: 5px
			position: absolute
			top: 4px
			left: 4px
			border: 3px solid #333
			border-top: none
			border-right: none
			background: transparent
			opacity: 0
			transform: rotate(-45deg)

		&:hover::after 
			opacity: 0.5
	input[type=checkbox]
		visibility: hidden
		&:checked  + label:after
			background-color: red

/*.sok
	background-color: $blue
	border: solid 1px $blue
	border-radius: 10em
	width: 10%
	color: white
	font-size: 1.3em
	margin-left: 90%
	box-sizing: border-box
	padding: 0.4%
	bottom: 4%
	cursor: pointer
		

	
		

//slider stuff
.sliderWrap
	width: 100%
	height: auto
	position: relative
	margin-top: 2%
	//background-color: blue
	
.regular
	width: 100%

.slider
	width: 100%

//dette gjør at vi får vite kanter rundt slideren, basicly indents på siden, skal vi ha det?
//Synes det er finere uten tbh, slik at content går jevt nedover
.slick-slide
	//margin: 0 1.8em

.slick-slide img
	width: 100%

.prev, .next
	display: inline-block
	width: 15%
	height: auto
	top: 37%
	position: absolute
	z-index: 30
	text-align: center
	svg
		height: auto
		width: 8em
		fill: rgba(255, 255, 255, 0.8)
		
.prev:hover, .next:hover
	cursor: pointer
	svg
		//fill: rgba(230, 230, 230, 1)
		fill: $blue
.prev
	left: 2%
	padding-left: 5px
	
.slide
	position: relative
	
.next
	right: 2%
	margin-left: 34%

.stedsNavn
	position: absolute
	display: inline-block
	text-align: right
	left: 0
	bottom: 10%
	width: 55%
	height: 5em
	background-color: rgba(35, 133, 178, 0.7)
	z-index: 30
	div
		color: white
		font-family: $raleway
		font-weight: 800
		font-size: 3.5em
		margin: 1% 2% 0 0
		
	
	

	

