@import "sassImports/_vars"
@import "sassImports/_main"
@import "sassImports/_header"
@import "sassImports/_menu"
@import "sassImports/_footer"

body
	margin: 0
	padding: 0

.menu1
	font-weight: 500

.main
	box-sizing: border-box
	width: 100%
	padding-left: 18%
	padding-right: 18%
	height: 3000px
	margin-top: 4em

.content
	box-sizing: border-box
	width: 100%
	height: 100%
	//background-color: gray

.frontImg
	width: 100%
	height: 750px

.textBox
	color: $primaryColor
	font-size: 2em
	width: 100%
h1
	font-weight: 500
	color: $primaryColor

.seTomtomraderOgSok
	width: 47%
	height: 27em
	display: inline-block
	margin-top: 4em

.bildeBox
	box-sizing: border-box
	padding-right: 20%
	padding-left: 20%

.skalVareBilde
	background-color: $primaryColor
	height: 20em
	width: 100%
	
.sirkelText
	font-size: 4em
	text-align: center
	font-weight: 500
	width: 100%
	color: $primaryColor
				
//slider stuff
.regular
	width: 100%
.slider
	width: 100%
	//margin: 100px auto

.slick-slide
	margin: 0 20px

.slick-slide img
	width: 100%
	z-index: -10

.slick-prev:before,
.slick-next:before
	color: green
	width: 100px
	font-size: 2em
.listStyle
	list-style: none


.prev
	display: inline-block

.next
	display: inline-block

.navDots
	width: 100px
	color: red
	margin-top: 6em

