@import "sassImports/_vars"
@import "sassImports/_main"
@import "sassImports/_header"
@import "sassImports/_menu"
@import "sassImports/_footer"

body
	margin: 0
	padding: 0

.menu1
	font-weight: 500

.main
	box-sizing: border-box
	width: 100%
	padding-left: 18%
	padding-right: 18%
	height: 2000px
	margin-top: 4em

.content
	box-sizing: border-box
	width: 100%
	height: 100%
	//background-color: gray

.frontImg
	width: 100%
	height: 750px
		
		
		
			
//slider stuff
.regular
	width: 100%
.slider
	width: 100%
	//margin: 100px auto

.slick-slide
	margin: 0 20px

.slick-slide img
	width: 100%
	z-index: -10

.slick-prev:before,
.slick-next:before
	color: green
	width: 100px
.prev, .next
	color: blue
	font-size: 4em
	
.navDots
	width: 100px
	
