@import "sassImports/_vars"
@import "sassImports/_main"
@import "sassImports/_header"
@import "sassImports/_menu"
@import "sassImports/_footer"


hr
	border: 0
	height: 1px 
	background-image: -webkit-linear-gradient(left, #f0f0f0, $blue, #f0f0f0)
	background-image: -moz-linear-gradient(left, #f0f0f0, $blue, #f0f0f0)
	background-image: -ms-linear-gradient(left, #f0f0f0, $blue, #f0f0f0)
	background-image: -o-linear-gradient(left, #f0f0f0, $blue, #f0f0f0)
	margin-bottom: 1.5em
	margin-top: 1.5em

.topH1
	text-align: center
	font-family: $raleway
	font-weight: $ralewaybold
	margin-bottom: 5%

.topH1alternativ
	text-align: center
	font-family: $raleway
	font-weight: $ralewaybold

.topH3
	text-align: center
	margin-bottom: 5%

.content
	padding-left: 25%
	padding-right: 25%

form
	input
		box-sizing: border-box
		padding: 1em
		margin-bottom: 1em
		width: 100%
	select
		box-sizing: border-box
		padding: 1em
		margin-bottom: 1em
		width: 100%
	textarea
		box-sizing: border-box
		padding: 1em
		margin-bottom: 1em
		width: 100%

#createKnapp
	background-color: $blue
	color: white
	border: 0
	width: 100%
	box-sizing: border-box
	padding: 1em
	cursor: pointer
	font-size: 2em

.nyTomtKnapp
	background-color: $blue
	color: white
	border: 0
	width: 100%
	box-sizing: border-box
	padding: 1em
	cursor: pointer

#createKnapp:hover, .nyTomtKnapp:hover
	background-color: $blueDark

#createKnapp:active, .nyTomtKnapp:active
	background-color: $blueLight

.redColor
	color:#e04747

#failiteterBox
	text-align: center

.fasiliteter
	width: 5em
	margin: 0 0.2em 1em 0
	display: inline-block
	border: 1px solid $blue
	label
		margin-left: 0.7em

.checkbox
	box-sizing: border-box
	padding: 0em
	margin-bottom: 0em
	width: auto
	float: right
#updated
	color: green
	//width: 100%
	text-align: center
	font-size: 3em
	position: fixed
	top: 0
	background-color: $bgc
	left: 43%
	font-family: $raleway
	font-weight: $ralewaybold

.borderdiv
	box-sizing: border-box
	border: 1px solid $blue
	padding: 2em
	
.fileUp
	border: 1px solid #bababa

#allTomts
	text-align: center
	position: absolute
	top: 9em
	right: 15%

#tomtliste
	border: 1px solid $blue
	box-sizing: border-box
	padding: 0 2em 2em 2em
	a
		display: list-item
		background-color: $blue
		width: 100%
		box-sizing: border-box
		padding: 0.5em
		//margin: 0.25em 0 0.25em 0
		border-top: 1px solid $blueLight
		border-bottom: 1px solid $blueDark
		text-decoration: none
		color: white
	a:hover
		background-color: $blueDark
		border-top: 1px solid $blueDark
		border-bottom: 1px solid $blueLight
	a:active
		background-color: $blueLight

.ledig
	background-color: #49b749
	
.solgt
	background-color: #e04747
	
.span
	float: right
	width: 1em
	height: 1em
	margin-top: 2%
	border: 0.5px solid $blueDark
	margin-left: 2em