doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling

	//Jquery and UI
	script(src="jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.theme.min.css")
	script(src="jquery-ui/jquery-ui.min.js")

	//Slick Carousell
	link(rel="stylesheet" type="text/css" href="tools/slick/slick.css")
	//Add the new slick-theme.css if you want the default styling
	link(rel="stylesheet" type="text/css" href="tools/slick/slick-theme.css")

	//Our Css
	link(rel="stylesheet" href="css/frontpage.css")
	
	//Tab icon
	link(rel="icon" type="image/svg" href="images/svg/tu-logo.svg")
    


body
	.menu
		ul
			li
				a.menu1(href="../../index.html") Hjem
			li
				a.menu2(href="../../tomteomrade.html") Tomteområder
			li
				a.menu3(href="../../kontakt.html") Kontakt
	
	.header
		.banner
			img(src="images/landscape.jpg")
		#logo
			img(src="images/svg/tu-logo.svg")
		.hytte1
			img(src="images/svg/cabin.svg")
		.hytte2.hyttepos
			img(src="images/svg/cabin.svg")
		.hytte3.hyttepos
			img(src="images/svg/cabin.svg")
			
		
	
	.main
		.content
			
			#velkommenBox
				h1 Velkommen til Tinde utvikling
				.textBox2 Vi i Tinde vet at det finnes like mange tinder som det er mennesker. Derfor har Tinde utviklet en lang rekke omteområder, alle med hver sine særtrekk og egenskaper. Slik blir din hyttetomt spesielt for deg og dine – et sted der du kan dyrke de gode opplevelsene i livet.
				//knapper
				#buttons
					a(href="tomteomrade.html")
						.button Se tomteområder
					a(href="kontakt.html")
						.button Kontakt oss
					
			//søkefelt		
			#sokBox
				h2 FINN DIN DRØMMETOMT
				.selectmeny
					.fylke.selectDef 
						span Fylke
						br
						select.dropdown(name="fylke")
							option(value="0") Velg fylke
							option(value="1") Olso
							option(value="2") Hedemark
					.tomteomrade.selectDef
						span Tomteområde
						br
						select.dropdown(name="tomteomrade")
							option(value="0") Velg tomteområde
							option(value="1") 1
							option(value="2") 2
					.status.selectDef
						span Status
						br
						select.dropdown(name="status")
							option(value="0") Velg status
							option(value="1") Solgt
							option(value="2") Ikke solgt
				hr(style="width: 50%;")
				h3 Fasiliteter
				.valgMeny
					section.valg(title="vann")
						span Vann
						.checkBox
							input(type="checkbox" value="none" id="vann" name="check")
							label(for="vann")
					section.valg(title="Strom")
						span Strøm
						.checkBox
							input(type="checkbox" value="none" id="strom" name="check")
							label(for="strom")
					section.valg(title="Bilvei")
						span Bilvei
						.checkBox
							input(type="checkbox" value="none" id="bilvei" name="check")
							label(for="bilvei")
					br
					br
					section.valg(title="Ski")
						span Ski
						.checkBox
							input(type="checkbox" value="none" id="ski" name="check")
							label(for="ski")
					section.valg(title="Turer")
						span Turer
						.checkBox
							input(type="checkbox" value="none" id="turer" name="check")
							label(for="turer")
					section.valg(title="Bading")
						span Bading
						.checkBox
							input(type="checkbox" value="none" id="bading" name="check")
							label(for="bading")
					section.valg(title="Jakt")
						span Jakt
						.checkBox
							input(type="checkbox" value="none" id="jakt" name="check")
							label(for="jakt") 
					section.valg(title="fiske")
						span Fiske
						.checkBox2
							input(type="checkbox" value="none" id="fiske" name="check")
							label(for="fiske")
				input.sok(type="submit" value="Søk")
				
			//slider
			.sliderWrap
				.prev
					include images/svg/arrowLeft.svg

				.next
					include images/svg/arrowRight.svg
				
				//BILDER HER MÅ HA AVLANGT UTSEENDE
				section.regular.slider
					.slide
						img(src="images/hytte.jpg")
						.stedsNavn 
							div JOTUMHEIMEN
					.slide
						img(src="images/hytte3.jpg")
						.stedsNavn 
							div SOLSLAK
					.slide
						img(src="images/hytte4.jpg")
						.stedsNavn 
							div GUNNVIKA
					.slide
						img(src="images/hytte5.jpg")
						.stedsNavn 
							div SNILSEFJELL

				//.navDots
			//.seTomtomraderOgSok
				.bildeBox
					.skalVareBilde
				.sirkelText Se tomteområder

			//.seTomtomraderOgSok
				.bildeBox
					.skalVareBilde
				.sirkelText Tomtesøk

	include jadeIncludes/footer.jade


	script(src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript")
	script(type="text/javascript" src="tools/slick/slick.js")
	script(type="text/javascript" src="js/slick.js")
	script(type="text/javascript" src="js/menuheader.js")
