doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling
	link(rel="stylesheet" href="css/frontpage.css")
	link(href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet")
	link(rel="stylesheet" type="text/css" href="tools/slick/slick.css")
	// Add the new slick-theme.css if you want the default styling
	link(rel="stylesheet" type="text/css" href="tools/slick/slick-theme.css")

body
	include jadeIncludes/menu.jade
	include jadeIncludes/header.jade
	
	.main
		.content
			.carousel
				div
					p content
				div
					p content
				div
				content



	include jadeIncludes/footer.jade

	script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(type="text/javascript" src="slick/slick.min.js")
