doctype html

html(lang="en")
head
  
    meta(charset="utf-8")
    title
    link(rel="stylesheet" href="css/frontpage.css")
body
    .menu
        li
            ul Hjem
            ul Tomteområder
            ul Tomtesøk
    .header

    .wrapper

