doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling

	//Font
	link(href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet")
	
	//Jquery and UI
	script(src="jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.theme.min.css")
	script(src="jquery-ui/jquery-ui.min.js")

	//Slick Carousell
	link(rel="stylesheet" type="text/css" href="tools/slick/slick.css")
	//Add the new slick-theme.css if you want the default styling
	link(rel="stylesheet" type="text/css" href="tools/slick/slick-theme.css")

	//Our Css
	link(rel="stylesheet" href="css/frontpage.css")


body
	include jadeIncludes/menu.jade
	include jadeIncludes/header.jade
	
	.main
		.content
			//img.frontImg(src="images/hytte.jpg" alt="hytte")
			section.regular.slider
				div
					img.frontImg(src="images/hytte.jpg")
				div
					img.frontImg(src="images/hytte.jpg")
				div
					img.frontImg(src="images/hytte.jpg")
				div
					img.frontImg(src="images/hytte.jpg")
				.navDots
				li.listStyle
					ul.prev
					ul.next
					
		.textBox
			h1 Er hyttedrømmen i live hos deg?
			div.textBox2 Vi i Tinde Utvikling vet at det finnes like mange tinder som det er mennesker. Derfor utvikler Tinde hvert år nye kvalitetsområder - alle med sine særtrekk og egenskaper. Vi gjør det lett å velge hytteområde med omhu: det er tross alt der du skal dyrke de gode opplevelsene i livet.
			
		.seTomtomraderOgSok
			.bildeBox
				.skalVareBilde
			.sirkelText Se tomteområder
		
		.seTomtomraderOgSok
			.bildeBox
				.skalVareBilde
			.sirkelText Tomtesøk

	include jadeIncludes/footer.jade


	script(src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript")
	script(type="text/javascript" src="tools/slick/slick.js")
	script(type="text/javascript" src="js/slick.js")
	script(type="text/javascript" src="js/menuheader.js")
