doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling
	//Our Css
	link(rel="stylesheet" href="css/frontpage.css")
	//Font
	link(href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet")
	//Jquery and UI
	script(src="jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.theme.min.css")
	script(src="jquery-ui/jquery-ui.min.js")

	//Slick Carousell
	link(rel="stylesheet" type="text/css" href="tools/slick/slick.css")
	// Add the new slick-theme.css if you want the default styling
	link(rel="stylesheet" type="text/css" href="tools/slick/slick-theme.css")


body
	include jadeIncludes/menu.jade
	include jadeIncludes/header.jade
	
	.main
		.content
			.carousel
				div
					p content
				div
					p content
				div
					p content



	include jadeIncludes/footer.jade

	script(type="text/javascript" src="slick/slick.min.js")
	script.
		$(document).ready(function() {
			$('.carousel').slick({
				setting-name: setting - value
			});
		});
	script(type="text/javascript" src="js/menuheader.js")