doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling
	link(rel="stylesheet" href="css/frontpage.css")
	link(href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet")

body
	include jadeIncludes/menu.jade
	include jadeIncludes/header.jade
	
	.content
		.wrapper
			.jonas jeg heter henrik
			
<<<<<<< HEAD
	include jadeIncludes/footer.jade
=======
	include partials/footer.jade
>>>>>>> origin/master
