doctype html

html(lang="en")
head
	meta(charset="utf-8")
	//Jquery and UI
	script(src="jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.theme.min.css")
	script(src="jquery-ui/jquery-ui.min.js")
	//Tab icon
	link(rel="icon" type="image/png" href="images/logo_tab.png")
	link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
	link(rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16")
	link(rel="manifest" href="images/favicon/manifest.json")
	link(rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5")
	meta(name="theme-color" content="#ffffff")
	
	title Tinde Utvikling
	//Slick Carousell
	link(rel="stylesheet" type="text/css" href="tools/slick/slick.css")
	//Add the new slick-theme.css if you want the default styling
	link(rel="stylesheet" type="text/css" href="tools/slick/slick-theme.css")
	//Our Css
	link(rel="stylesheet" href="css/frontpage.css")
	
body
	.menu(hidden)
		ul
			li#menuLogo
				a(href="index.html")
					include images/svg/tu-logo.svg
			li
				a.menu1(href="../../index.html") Hjem
			li
				a.menu2(href="../../tomteomrade.html") Tomteområder
			li
				a.menu3(href="../../kontakt.html") Kontakt
	
	.header
		.banner
			img(src="images/landscape.jpg")
		#logo
			img(src="images/svg/tu-logo.svg")
		#headerknapper
			a(href="")
				.hButton.b1 <u>HJEM</u>
			a(href="../../tomteomrade.html")
				.hButton TOMTEOMRÅDER
			a(href="../../kontakt.html")
				.hButton KONTAKT
		.hytte1
			img(src="images/svg/cabin.svg")
		.hytte2.hyttepos
			img(src="images/svg/cabin.svg")
		.hytte3.hyttepos
			img(src="images/svg/cabin.svg")
			
		
	
	.main
		.content
			
			#tomteFinner
				#tfFrame1
					h1 Tomtefinner
					.textBox2 Vi i Tinde vet at det finnes like mange tinder som det er mennesker. Derfor har Tinde utviklet en lang rekke omteområder, alle med hver sine særtrekk og egenskaper. Slik blir din hyttetomt spesielt for deg og dine – et sted der du kan dyrke de gode opplevelsene i livet.
					
					.tfImg
						div BILDE SKAL HER ASS
					#startTFbutton
						.tfButton START
					//knapper
					//#buttons
						a(href="tomteomrade.html")
							.button Se tomteområder
						a(href="kontakt.html")
							.button Kontakt oss
				#tfFrame2(hidden)
					h1 Finn din drømmetomt
					.textBox2 Vi i Tinde vet at det finnes like mange tinder som det er mennesker. Derfor har Tinde utviklet en lang rekke omteområder, alle med hver sine særtrekk og egenskaper. Slik blir din hyttetomt spesielt for deg og dine – et sted der du kan dyrke de gode opplevelsene i livet.
					
					.tfBox
						div.steps Steg 1/3
						div.tfText Hvilke områder er du interessert i?
						#tfOmradevalg
							ul
								li#tfomvalgVL.omrValg
									span VESTLANDET 
										div (5 områder)
								li#tfomvalgOL.omrValg
									span ØSTLANDET 
										div (6 områder)
								li#tfomvalgSL.omrValg
									span SØRLANDET
										div (7områder)
								li#tfomvalgMN.omrValg
									span MIDT-NORGE 
										div (0 områder)
								li#tfomvalgNN.omrValg
									span NORD-NORGE 
										div (0 områder)
						#tfOmradeKart
							div kart her
							
						#secondTFbutton.nextButtonPos
							.tfButton NESTE
				
				#tfFrame3(hidden)
					h1 Tomtefinner
					.textBox2 Vi i Tinde vet at det finnes like mange tinder som det er mennesker. Derfor har Tinde utviklet en lang rekke omteområder, alle med hver sine særtrekk og egenskaper. Slik blir din hyttetomt spesielt for deg og dine – et sted der du kan dyrke de gode opplevelsene i livet.
					
					.tfBox
						div.steps Steg 2/3
						div.tfText Hvilke fasiliteter bør tomten ha?
						#tfIconValg
							div tilføy logoer her
						//#tfOmradeKart
							div kart her
							
						#thirdTFbutton.nextButtonPos
							.tfButton NESTE
				
				#tfFrame4(hidden)
					h1 Tomtefinner
					.textBox2 Vi i Tinde vet at det finnes like mange tinder som det er mennesker. Derfor har Tinde utviklet en lang rekke omteområder, alle med hver sine særtrekk og egenskaper. Slik blir din hyttetomt spesielt for deg og dine – et sted der du kan dyrke de gode opplevelsene i livet.
					
					.tfBox
						div.steps Steg 3/3
						div.tfText Hvor mye bør tomten koste?
						#prisValg
							div.prisText Jeg vil bruke maks
							select.dropdown(name="prisValg")
								option(value="0") Minpris-Maxpris
								option(value="1") 1kr-10kr
								option(value="2") 100kr-200kr
						//#tfOmradeKart
							div kart her
							
						#fourthTFbutton.nextButtonPos
							.tfButton NESTE
							
				#tfFrame5(hidden)
					h1 Tomtefinner
					.textBox2 Vi i Tinde vet at det finnes like mange tinder som det er mennesker. Derfor har Tinde utviklet en lang rekke omteområder, alle med hver sine særtrekk og egenskaper. Slik blir din hyttetomt spesielt for deg og dine – et sted der du kan dyrke de gode opplevelsene i livet.
					
					.tfBox
						div.steps Resultat
						div.tfText Dette er tomteområdene du bør se på:
						#resultatTF
							ol
								li HJERKINHØ
									div Treff på <span class="spanBlue">alle</span> søkekriterier.
								li HJERKINLIA
									div Treff på <span class="spanBlue">alle</span> søkekriterier.
								li SOLLIA
									div Treff på <span class="spanRed">noen</span> søkekriterier.
								li HÅFJELLET
									div Treff på <span class="spanRed">noen</span> søkekriterier.
						//#tfOmradeKart
							div kart her
							
						#lastTFbutton.nextButtonPos
							.tfButton NYTT SØK
			#sporsmalBox
				h1 Spørsmål?
				.sprsmBox Vi i Tinde vet at det finnes like mange tinder som det er mennesker. Derfor har Tinde utviklet en lang rekke omteområder, alle med hver sine særtrekk og egenskaper. Slik blir din hyttetomt spesielt for deg og dine – et sted der du kan dyrke de gode opplevelsene i livet.

			//søkefelt		
			//#sokBox
				h2 FINN DIN DRØMMETOMT
				.selectmeny
					.fylke.selectDef 
						span Fylke
						br
						select.dropdown(name="fylke")
							option(value="0") Velg fylke
							option(value="1") Olso
							option(value="2") Hedemark
					.tomteomrade.selectDef
						span Tomteområde
						br
						select.dropdown(name="tomteomrade")
							option(value="0") Velg tomteområde
							option(value="1") 1
							option(value="2") 2
					.status.selectDef
						span Status
						br
						select.dropdown(name="status")
							option(value="0") Velg status
							option(value="1") Solgt
							option(value="2") Ikke solgt
				hr(style="width: 50%;")
				h3 Fasiliteter
				.valgMeny
					section.valg(title="vann")
						span Vann
						.checkBox
							input(type="checkbox" value="none" id="vann" name="check")
							label(for="vann")
					section.valg(title="Strom")
						span Strøm
						.checkBox
							input(type="checkbox" value="none" id="strom" name="check")
							label(for="strom")
					section.valg(title="Bilvei")
						span Bilvei
						.checkBox
							input(type="checkbox" value="none" id="bilvei" name="check")
							label(for="bilvei")
					br
					br
					section.valg(title="Ski")
						span Ski
						.checkBox
							input(type="checkbox" value="none" id="ski" name="check")
							label(for="ski")
					section.valg(title="Turer")
						span Turer
						.checkBox
							input(type="checkbox" value="none" id="turer" name="check")
							label(for="turer")
					section.valg(title="Bading")
						span Bading
						.checkBox
							input(type="checkbox" value="none" id="bading" name="check")
							label(for="bading")
					section.valg(title="Jakt")
						span Jakt
						.checkBox
							input(type="checkbox" value="none" id="jakt" name="check")
							label(for="jakt") 
					section.valg(title="fiske")
						span Fiske
						.checkBox2
							input(type="checkbox" value="none" id="fiske" name="check")
							label(for="fiske")
				input.sok(type="submit" value="Søk")
				
			//slider
			//.sliderWrap
				.prev
					include images/svg/arrowLeft.svg

				.next
					include images/svg/arrowRight.svg
				
				//BILDER HER MÅ HA AVLANGT UTSEENDE
				section.regular.slider
					.slide
						img(src="images/hytte.jpg")
						.stedsNavn 
							div JOTUMHEIMEN
					.slide
						img(src="images/hytte3.jpg")
						.stedsNavn 
							div SOLSLAK
					.slide
						img(src="images/hytte4.jpg")
						.stedsNavn 
							div GUNNVIKA
					.slide
						img(src="images/hytte5.jpg")
						.stedsNavn 
							div SNILSEFJELL

				//.navDots
			//.seTomtomraderOgSok
				.bildeBox
					.skalVareBilde
				.sirkelText Se tomteområder

			//.seTomtomraderOgSok
				.bildeBox
					.skalVareBilde
				.sirkelText Tomtesøk

	include jadeIncludes/footer.jade


	script(src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript")
	script(type="text/javascript" src="tools/slick/slick.js")
	script(type="text/javascript" src="js/slick.js")
	script(type="text/javascript" src="js/forsideMenuHeader.js")
	script(type="text/javascript" src="js/tomtefinner.js")
	
	
