doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling
	link(rel="stylesheet" href="css/frontpage.css")

body
	include partials/menu.jade
	include partials/header.jade
	.content
		.wrapper
	include partials/footer.jade


