doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling
	//Our Css
	link(rel="stylesheet" href="css/frontpage.css")
	//Font
	link(href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet")
	//Jquery and UI
	script(src="jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.min.js")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.theme.min.css")
	script(src="jquery-ui/jquery-ui.min.js")
	//Our JS

body
	include jadeIncludes/menu.jade
	include jadeIncludes/header.jade
	
	.content
		.wrapper

			
	include jadeIncludes/footer.jade
