doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling - TomteOmraade
	//Our Css
	link(rel="stylesheet" href="css/tomteomrade.css")
	//Font
	link(href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet")
	//Jquery and UI
	script(src="jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.theme.min.css")
	script(src="jquery-ui/jquery-ui.min.js")

body
	include jadeIncludes/menu.jade
	include jadeIncludes/header.jade
	
	.main
		.content
			.omradeBox 
				img.omradeImg(src="images/hytte.jpg" alt="hytte")
				.omradeBoxText <h1> Solhaugen </h1> 
					ul
						li <b>Pris:</b> 1.5m <b>-</b> 2m
						li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
			.omradeBox 
				img.omradeImg(src="images/hytte.jpg" alt="hytte")
				.omradeBoxText <h1> Villfjord </h1> 
					ul
						li <b>Pris:</b> 1.5m <b>-</b> 2m
						li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
			.omradeBox 
				img.omradeImg(src="images/hytte.jpg" alt="hytte")
				.omradeBoxText <h1> Hjalmarseta </h1> 
					ul
						li <b>Pris:</b> 1.5m <b>-</b> 2m
						li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
			.omradeBox 
				img.omradeImg(src="images/hytte.jpg" alt="hytte")
				.omradeBoxText <h1> Grefsebukta </h1> 
					ul
						li <b>Pris:</b> 1.5m <b>-</b> 2m
						li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
			.omradeBox 
				img.omradeImg(src="images/hytte.jpg" alt="hytte")
				.omradeBoxText <h1> Storebjørk </h1> 
					ul
						li <b>Pris:</b> 1.5m <b>-</b> 2m
						li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
			.omradeBox 
				img.omradeImg(src="images/hytte.jpg" alt="hytte")
				.omradeBoxText <h1> Fruktmarka </h1> 
					ul
						li <b>Pris:</b> 1.5m <b>-</b> 2m
						li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
			



	include jadeIncludes/footer.jade

	script(type="text/javascript" src="js/menuheader.js")