doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling - TomteOmraade
	//Jquery and UI
	script(src="jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="jquery-ui/jquery-ui.theme.min.css")
	script(src="jquery-ui/jquery-ui.min.js")
	//Our Css
	link(rel="stylesheet" href="css/tomteomrade.css")

body
	include jadeIncludes/menu.jade
	//include jadeIncludes/header.jade
	.header
	//meny funker ikke uten denne, har bare padding-top 20px, men må ha det for å funke
	#sort
		h3 Filtreringsvalg
		h4 Fylke
		div Oslo
			input.checkBox(type="checkbox")
		div Finnmark
			input.checkBox(type="checkbox")
		div Oppland
			input.checkBox(type="checkbox")
		div Hedmark
			input.checkBox(type="checkbox")
		h4 Fasiliteter
		div Alpint
			input.checkBox(type="checkbox")
		div Tursti
			input.checkBox(type="checkbox")
			
	.main
		.content
			include jadeIncludes/omradeBoxer.jade
			
	include jadeIncludes/footer.jade

	script(type="text/javascript" src="js/menuheader.js")