.menu
	li
		ul.
		a.hue(href"../../index.html")
			include ../images/svg/tu-logo.svg
		ul.
		a(href="../../index.html") Hjem
		ul.
		a(href="../../tomteomrade.html") Tomteområder
		ul.
		a(href="../../kontakt.html") Kontakt