.menu
	ul
		li#menuLogo
			a.hue(href="../../index.html")
				include ../images/svg/tu-logo.svg
		li
			a.menu1(href="../../index.html") Hjem
		li
			a.menu2(href="../../tomteomrade.html") Tomteområder
		li
			a.menu3(href="../../kontakt.html") Kontakt