.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

.omradeBox
	img.omradeImg(src="images/hytte.jpg" alt="hytte")
	.omradeBoxText <h1> Solhaugen </h1> 
		ul
			li <b>Pris:</b> 1.5m <b>-</b> 2m
			li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2