
h1.firstH1class NORD-GULBRANDSDAL
.nyttOmrade
	a(href="tomteomrader/tomteomrade1/tomteomrade1.html")
		.omradeBox
			img.omradeImg(src="images/hytte.jpg" alt="hytte")
			.stedText 
				div Solhaugen
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

	a(href="tomteomrader/tomteomrade2/tomteomrade2.html")
		.omradeBox
			img.omradeImg(src="images/hytte2.jpg" alt="hytte")
			.stedText 
				div Stedet
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

	a(href="tomteomrader/tomteomrade3/tomteomrade3.html")
		.omradeBox
			img.omradeImg(src="images/hytte3.jpg" alt="hytte")
			.stedText 
				div Hjalmarseta
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
hr

h1 Midt-Gulbrandsdal
.nyttOmrade
	a(href="tomteomrader/tomteomrade4/tomteomrade4.html")
		.omradeBox
			img.omradeImg(src="images/hytte4.jpg" alt="hytte")
			.stedText 
				div Vibbefjelle
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

	a(href="tomteomrader/tomteomrade5/tomteomrade5.html")
		.omradeBox
				img.omradeImg(src="images/hytte6.jpg" alt="hytte")
				.stedText 
					div Kollirud
				.omradeBoxText 
					div "One-liner her. Or something." 
					ul
						li <b>Pris:</b> 1.5m <b>-</b> 2m
						li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

hr

h1 Sør-Gulbrandsdal
.nyttOmrade
	a(href="tomteomrader/tomteomrade6/tomteomrade6.html")
		.omradeBox
			img.omradeImg(src="images/hytte6.jpg" alt="hytte")
			.stedText 
				div Torkelsetra
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2


	a(href="tomteomrader/tomteomrade7/tomteomrade7.html")
		.omradeBox
			img.omradeImg(src="images/hytte.jpg" alt="hytte")
			.stedText 
				div Brukslia
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

	a(href="tomteomrader/tomteomrade8/tomteomrade8.html")
		.omradeBox
			img.omradeImg(src="images/hytte2.jpg" alt="hytte")
			.stedText 
				div Englevannet
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

	a(href="tomteomrader/tomteomrade9/tomteomrade9.html")
		.omradeBox
			img.omradeImg(src="images/hytte3.jpg" alt="hytte")
			.stedText 
				div Storbjørka
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
hr

h1 Ringsaker
.nyttOmrade
	a(href="tomteomrader/tomteomrade10/tomteomrade10.html")
		.omradeBox
			img.omradeImg(src="images/hytte4.jpg" alt="hytte")
			.stedText 
				div Fruktmarka
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

	a(href="tomteomrader/tomteomrade11/tomteomrade11.html")
		.omradeBox
			img.omradeImg(src="images/hytte3.jpg" alt="hytte")
			.stedText 
				div Lilleaslak
			.omradeBoxText 
				div "One-liner her. Or something." 
				ul
					li <b>Pris:</b> 1.5m <b>-</b> 2m
					li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2