
h1 Jotuhnheimen
a(href="tomteomrader/tomteomrade1/tomteomrade1.html")
	.omradeBox
		img.omradeImg(src="images/hytte.jpg" alt="hytte")
		.omradeBoxText <h1> Solhaugen </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
				
a(href="tomteomrader/tomteomrade2/tomteomrade2.html")
	.omradeBox
		img.omradeImg(src="images/hytte2.jpg" alt="hytte")
		.omradeBoxText <h1> Månebukta </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

a(href="tomteomrader/tomteomrade3/tomteomrade3.html")
	.omradeBox
		img.omradeImg(src="images/hytte3.jpg" alt="hytte")
		.omradeBoxText <h1> Hjalmarseta </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
hr

h1 Gullbrandslia
a(href="tomteomrader/tomteomrade4/tomteomrade4.html")
	.omradeBox
		img.omradeImg(src="images/hytte4.jpg" alt="hytte")
		.omradeBoxText <h1> Vibbefjelle </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

a(href="tomteomrader/tomteomrade5/tomteomrade5.html")
	.omradeBox
		img.omradeImg(src="images/hytte5.jpg" alt="hytte")
		.omradeBoxText <h1> Kollirud </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

hr

h1 Hemsedal
a(href="tomteomrader/tomteomrade6/tomteomrade6.html")
	.omradeBox
		img.omradeImg(src="images/hytte6.jpg" alt="hytte")
		.omradeBoxText <h1> Torkelsetra </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2


a(href="tomteomrader/tomteomrade7/tomteomrade7.html")
	.omradeBox
		img.omradeImg(src="images/hytte.jpg" alt="hytte")
		.omradeBoxText <h1> Brukslia </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

a(href="tomteomrader/tomteomrade8/tomteomrade8.html")
	.omradeBox
		img.omradeImg(src="images/hytte2.jpg" alt="hytte")
		.omradeBoxText <h1> Englevannet </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

a(href="tomteomrader/tomteomrade9/tomteomrade9.html")
	.omradeBox
		img.omradeImg(src="images/hytte3.jpg" alt="hytte")
		.omradeBoxText <h1> Storbjørka </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2
hr

h1 Aslakstien
a(href="tomteomrader/tomteomrade10/tomteomrade10.html")
	.omradeBox
		img.omradeImg(src="images/hytte4.jpg" alt="hytte")
		.omradeBoxText <h1> Fruktmarka </h1> 
			ul
				li <b>Pris:</b> 1.5m <b>-</b> 2m
				li <b>Areal:</b> 400km^2 <b>-</b> 1000km^2

a(href="tomteomrader/tomteomrade11/tomteomrade11.html")
	.omradeBox
		img.omradeImg(src="images/hytte5.jpg" alt="hytte")
		.omradeBoxText <h1> Lilleaslak </h1> 
			ul
				li <b>Pris:</b> 1000 <b>-</b> 50.000
				li <b>Areal:</b> 40km^2 <b>-</b> 50km^2