doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling - TomteOmraade

	//Jquery and UI
	script(src="../../jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="../../jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" href="../..&jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="../../jquery-ui/jquery-ui.theme.min.css")
	script(src="../../jquery-ui/jquery-ui.min.js")
	//Our Css
	link(rel="stylesheet" href="../../css/etTomteOmrade.css")

body
	include ../../jadeIncludes/menu.jade
	.header
	//meny funker ikke uten denne, har bare padding-top 20px, men må ha det for å funke
	.main
		.content
			a(href="javascript:history.back()")
				div.backArrow &#x2190; Tilbake
			.headImgWrap
				img(src="../../images/område1/main.jpg" alt="Bilde av X")
			.headImgTitleWrap
				.headImgPlace Dovrefjell, Nord-Gudbrandsdal
				.headImgTitle Hjerkinnhø
				.headTextQuote "Storslagen utsikt på snaufjellet!"
				.headText Hjerkinnhø ligger i et område med historiske røtter. På hjerkinn lå en gammel skysstasjon(nå Hjerkinn fjellstue) med tradisjoner tilbake til midt på 1200-tallet. Pilegrimsleden og dne gamle kongeveien til Trondheim går like forbi hytteområdene og videre innover Dovrefjell. Her har du inngangen til snøhetta, villreinen og moskusens rike. Hjerkinn-Dovrefjell er hundesportens 'Mekka', med treningsfelt og jaktprøver for fuglehunder. Viewpoint Snøhetta er et attraktivt besøkspunkt og i nærområdet finner du mange natur- og aktivitetsmuligheter
			
	include ../../jadeIncludes/footer.jade

	script(type="text/javascript" src="../../js/menuheader.js")