doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling - TomteOmraade

	//Jquery and UI
	script(src="../../jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="../../jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" href="../..&jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="../../jquery-ui/jquery-ui.theme.min.css")
	script(src="../../jquery-ui/jquery-ui.min.js")
	//Our Css
	link(rel="stylesheet" href="../../css/etTomteOmrade.css")

body
	include ../../jadeIncludes/menu.jade
	//include ../../jadeIncludes/header.jade
	.main
		.content
			//a(href="javascript:history.back()")
				div.backArrow &#x2190; Tilbake
			//.headText
				h1 Solhaugen
				h3 Dovrefjell, Nordgubbrandsdal
			
			img.bigImg(src="../../images/hytte.jpg" alt="Bilde av X")
			
	include ../../jadeIncludes/footer.jade

	script(type="text/javascript" src="../../js/menuheader.js")