doctype html

html(lang="en")
head
	meta(charset="utf-8")
	title Tinde Utvikling - TomteOmraade

	//Jquery and UI
	script(src="../../jquery-ui/external/jquery/jquery.js")
	link(rel="stylesheet" href="../../jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" href="../..&jquery-ui/jquery-ui.structure.min.css")
	link(rel="stylesheet" href="../../jquery-ui/jquery-ui.theme.min.css")
	script(src="../../jquery-ui/jquery-ui.min.js")
	//Slick Carousell
	link(rel="stylesheet" type="text/css" href="../../tools/slick/slick.css")
	//Add the new slick-theme.css if you want the default styling
	link(rel="stylesheet" type="text/css" href="../../tools/slick/slick-theme.css")


	//Our Css
	link(rel="stylesheet" href="../../css/etTomteOmrade.css")

body
	include ../../jadeIncludes/menu.jade
	.header
	//meny funker ikke uten denne, har bare padding-top 20px, men må ha det for å funke
	.main
		.content
			a(href="javascript:history.back()")
				div.backArrow &#x2190; Tilbake
			.headImgWrap
				img(src="../../images/omrade1/main.jpg" alt="Bilde av X")
			.headImgTitleWrap
				.headImgPlace Dovrefjell, Nord-Gudbrandsdal
				.headImgTitle Hjerkinnhø
				.headTextQuote "Storslagen utsikt på snaufjellet!"
				.headText Hjerkinnhø ligger i et område med historiske røtter. På hjerkinn lå en gammel skysstasjon(nå Hjerkinn fjellstue) med tradisjoner tilbake til midt på 1200-tallet. Pilegrimsleden og dne gamle kongeveien til Trondheim går like forbi hytteområdene og videre innover Dovrefjell. Her har du inngangen til snøhetta, villreinen og moskusens rike. Hjerkinn-Dovrefjell er hundesportens 'Mekka', med treningsfelt og jaktprøver for fuglehunder. Viewpoint Snøhetta er et attraktivt besøkspunkt og i nærområdet finner du mange natur- og aktivitetsmuligheter

			.sliderWrap
				.prev
					.verticalCenter
						include ../../images/svg/arrowLeft.svg

				.next
					.verticalCenter
						include ../../images/svg/arrowRight.svg

				//BILDER HER MÅ HA AVLANGT UTSEENDE
				section.regular.slider
					.slide
						img(src="../../images/hytte.jpg")

					.slide
						img(src="../../images/hytte3.jpg")

					.slide
						img(src="../../images/hytte4.jpg")

					.slide
						img(src="../../images/hytte5.jpg")
			.tomtMapTitle Tomter
			.tomtMapInfo1
				.ledigColor
				.ledigText Ledig tomt
				.solgtColor
				.solgtText Solgt tomt
			.tomtMapInfo2 Klikk på tomt for mer info
			.tomtMapWrap
				img(src="../../images/omrade1/tomtekart.png")
				.popupBackground
					.tomtPopup
						.esc
							include ../../images/svg/exitX.svg
						.tomtHead Tomt 1
						.tomtAdress Hjerkinnhøvegen 1, hus 3
						.tomtDetails Areal: 150m
							sup 2
						.tomtDetails Pris: 500 000 NOK
						.tomtInfoTitle Merk:
						.tomtInfoText Tomtene i dette feltet kan ikke bygges på før juni 2017.
						a.tomtBtn SEND HENVENDELSE

			//.mapTableWrap
				.mapWrap
					#googleMap
			.tableWrap
				a.arrow(href="")
					include ../../images/svg/arrowLeft.svg
				table
					tr
						td.col TOMT
						td.col PRISANTYDNING
						td.col AREAL
						td.col STATUS
					tr
						td 1
						td 373 000 NOK
						td 1150 m
							sup 2
						td Ledig
					tr
						td 2
						td 462 000 NOK
						td 1920 m
							sup 2
						td Ledig
					tr
						td 3
						td 217 000 NOK
						td 1160 m
							sup 2
						td Ledig
					tr
						td 4
						td 431 000 NOK
						td 1240 m
							sup 2
						td Solgt
					tr
						td 5
						td 312 000 NOK
						td 1640 m
							sup 2
						td Solgt
					tr
						td 6
						td 215 000 NOK
						td 2102 m
							sup 2
						td Ledig

					tr
						td 7
						td 325 000 NOK
						td 1170 m
							sup 2
						td Ledig

					tr
						td 8
						td 510 000 NOK
						td 1370 m
							sup 2
						td Solgt

					tr
						td 9
						td 320 000 NOK
						td 1680 m
							sup 2
						td Ledig

					tr
						td 10
						td 400 000 NOK
						td 1600 m
							sup 2
						td Ledig

				a.arrow(href="")
					include ../../images/svg/arrowRight.svg
			.fileWrap
				a.oneFileWrap(href="")
					include ../../images/svg/downloadTest.svg
					| REGULERINGSPLAN
				a.oneFileWrap(href="")
					include ../../images/svg/downloadTest.svg
					| REGULERINGSKART
				a.oneFileWrap(href="")
					include ../../images/svg/printTest.svg
					| SKRIV UT OMRÅDE
			.ansattWrap
				.title Kontaktpersoner
				#ansattImgWrap
					.oneAnsattImg
						img(src="http://placehold.it/350x350")
					.oneAnsattImg
						img(src="http://placehold.it/350x350")
					.oneAnsattImg
						img(src="http://placehold.it/350x350")
				#ansattInfoWrap
					.oneAnsattInfo
						.ansattName NAVN HER SOMERSÅ LANGT AT DETKOMMERPÅTOLINJER
						.ansattAnsvar Ansvarsområde
						.ansattPhone 123 12 123
						.ansattEmail epostsomerlittlang@tinde.no
					.oneAnsattInfo
						.ansattName NAAAVN HER
						.ansattAnsvar Ansvarsområde
						.ansattPhone 123 12 123
						.ansattEmail epostsomerlittlang@tinde.no
					.oneAnsattInfo
						.ansattName NAVN HER
						.ansattAnsvar Ansvarsområde
						.ansattPhone 123 12 123
						.ansattEmail epostsomerlittlang@tinde.no
			//.socialWrap
				a.icon1(href="")
					include ../../images/svg/facebook.svg
				a.icon2(href="")
					include ../../images/svg/twitter.svg
				a.icon3(href="")
					include ../../images/svg/instagram.svg
include ../../jadeIncludes/footer.jade

	//Google maps
	//script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv-n8dxD2LyiLpKr2qg4vCbmtJFqPJnI8&callback=myMap")
	//script(type="text/javascript" src="../../js/googleMap.js")
	//Slick stuff
	script(src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript")
	script(type="text/javascript" src="../../tools/slick/slick.js")
	script(type="text/javascript" src="../../js/slick.js")

	//MenuStickScript
	script(type="text/javascript" src="../../js/menuheader.js")